@tailwind base;
@tailwind components;
@tailwind utilities;

/* App base styles */
html, body, #root {
	height: 100%;
}
body {
	@apply bg-slate-50 text-slate-900 antialiased;
	margin: 0;
	font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
.ui-card { @apply bg-white border border-slate-200 rounded-lg; }
.ui-button { @apply px-3 py-1 rounded-md bg-slate-800 text-white; }
